{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Hi to the lovely person reading this, it is so pleasant to meet you, My name is Jane , and I am a freelance Data analyst and a lady who loves to manage people and projects.</p>
        <p> I am very passionate to see people in a better mental head space and enjoy the life that abba has blessed them with, </p>
        <p> While I am not doing my data analyst duties, I always fill my spirit man with lovely messages of men of God I respect and one of them is Apostle Joshua Selman.</p>
        <p> You will be seeing written sermon notes written by Apostle Joshua Selman that will richly bless your soul if only you believe and engage with the instructions in obedience. </p>
        <p> Finally, this is my scripture for you and my wish for you, in <em> 3John 1:2 </em> </p>
        <p>I wish that thou mayest prosper and be in good health even as your soul prospereth And this is what I am trying to achieve with this blog.</p>
        <p> We are all on this journey together and we all  will flourish both spiritually, in our finances and in our bodies In Jesus Name.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
